html{
    background: linear-gradient(135deg, #e3ffe7 0%, #d9e7ff 100%);
    overflow: hidden;
}
#board{
    width: min(100vw, 100vh);
    height: min(100vw, 100vh);
    position: relative;
    left: calc(50vw - (min(50vw, 50vh)));
    top: calc(50vh - (min(50vw, 50vh)));
}
body{
    margin: 0px;
}
